**/xcuserdata/
**/Moonlight.xcscmblueprint
**/xcschemes/*.xcscheme
!**/xcschemes/VoidLink.xcscheme
.DS_Store
Build
DerivedData
build-home/
*.xccheckout
.github/*
!.github/workflows/
!.github/workflows/build.yml
README.md
